language: python
python:
- '3.7'
install:
- pip3 install -r test_require.txt
- pip3 install -r build_require.txt
- python3 setup.py install
env:
  - CODECOV_TOKEN=6c44aaab-8cca-43e6-b995-4a726fe99550
script:
- py.test  --cov-report term --cov=pro_lambda/
deploy:
  provider: pypi
  user: __token__
  password:
    secure: Xt4PYVNkM5QAZhib1lB0FS9SBTQ9ec14ERL+LSI0oCuwVe0cnqPgJCJ21BclbfvzVdVn5MS1aZzNMtzKFjFRmoPqs6SLzwKSv6OUhS4OwdaUpZncC6YstIYZaZn1iuH32A6c/IBlIN83DjLZbOPZXSBadiFODXVs7RrO75cGbxQYrlf2QNB34tuubrYqkRDqTk5oOgrB9AZkWV9RdvqBuwTuIfypRLMGbk6WwEz1DWBZKWk5XkM7LKEP7U4mUziHcFhsX529lsDD9uSvEe1QfvRT3S9KYuYWSZ57y+1v+c/xbJFp10q/QI013GSEqG4RGFbcGDw1zf5MCfncUd4AGbX5DcvqXZg8b7UqB5ykphQmb8xn11j00vt/10VEJa92GXmBShZ5cUVGtpnVybG/jyiqDbdbGjIbhp64VwCeI/7KoWzhS+1wMTEUp91jFK4LXzvqWDevsPY99GflaVdaeFrMinjrPuozsW6pUfDPXrrXuzGE6wqh3d6gcGKbLnkecouBMjBQ22Er369g57Z7SZuC7OduqKiv8c3exDGlBCtymytPu5tnNluGCMZoFXlk7BvO1zJGlwFbPbgyeeALPgoj3N0pVhKO+DwkWgAgt1Hm3231xRtTYZa2WVDy5lCclssKGHHNICpb9CHMHaxi5HRQyGmvCL/DEG5Q5jviZd4=
  on:
    tags: true
after_success:
    - codecov